@font-face {
  font-family: 'Copperplate';
  src: url('Copperplate.otf') format('truetype');
}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Poppins',sans-serif;
overflow-x:hidden;
background:#fff;

}

a{

text-decoration:none;

}

img{

max-width:100%;

}

.container{

width:90%;
max-width:1350px;
margin:auto;

}

/* HEADER */

header{

position:fixed;
top:0;
left:0;
width:100%;
height:75px;
border-radius: 0px 0px 25px 25px;

background:white;

display:flex;
align-items:center;

z-index:1000;

box-shadow:
0 10px 30px rgba(0,0,0,.05);

}

header .container{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo img{

height:50px;

}

.logo img:hover{
    transition: 2s;
    transform: scale(1.25);
}

nav a{

    position:relative;

    color:#1B64D7;

    font-weight:600;

}

nav a span{

    position:relative;

    display:inline-block;

    padding:4px 8px;

    z-index:2;

}

nav a span::before{

    content:"";

    position:absolute;

    left:-4px;

    bottom:3px;

    width:0%;

    height:75%;

    border-radius:8px;

    background:linear-gradient(
        90deg,
        rgba(29,120,234,.12),
        rgba(29,120,234,.30),
        rgba(29,120,234,.12)
    );

    transition:.45s;

    z-index:-1;

}

nav{

display:flex;
gap:45px;

perspective:1000px;

}

nav a{

color:#195ec8;

font-weight:600;

font-size:15px;

position:relative;

opacity:0;

transform:
translateY(-25px)
rotateX(-90deg);

animation:
menu .8s forwards;

}

nav a:nth-child(1){animation-delay:.3s;}
nav a:nth-child(2){animation-delay:.45s;}
nav a:nth-child(3){animation-delay:.6s;}
nav a:nth-child(4){animation-delay:.75s;}
nav a:nth-child(5){animation-delay:.9s;}
nav a:nth-child(6){animation-delay:1.05s;}

nav a::after{

content:"";

position:absolute;

left:0;
bottom:-8px;

width:0%;
height:3px;

border-radius:50px;

background:#1d78ea;

transition:.4s;

}

nav a:hover span::before{

    width:110%;

}

.btn-header{

padding: 5px 15px;

border-radius:40px;

background:

linear-gradient(
135deg,
#0D5ED9,
#2F82F5
);

color:white;

font-weight:600;

transition:.4s;

opacity:0;

animation:
fadeUp 1s forwards 1.2s;

}

.btn-header:hover{

transform:translateY(-4px);

box-shadow:

0 15px 30px rgba(25,95,220,.3);

}

/* HERO */

.hero{

height:100vh;

position:relative;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

}

/* SLIDER */

.slider{

position:absolute;

width:100%;
height:100%;

}

.slide{

position:absolute;

width:100%;
height:100%;

opacity:0;

transition:2s;

transform:scale(1.2);

}

.slide.active{

opacity:1;

transform:scale(1);

}

.slide img{

width:100%;
height:100%;

object-fit:cover;

}

/* OVERLAY */

.overlay{

    position:absolute;

    inset:0;

    background:

    radial-gradient(

        circle at 20% 8%,

        rgba(195,255,175,.22),

        transparent 28%

    ),

    radial-gradient(

        circle at 80% 15%,

        rgba(60,135,255,.35),

        transparent 35%

    ),

    radial-gradient(

        circle at 92% 70%,

        rgba(80,240,255,.28),

        transparent 30%

    ),

    linear-gradient(

        130deg,

        rgba(0,63,176,.78),

        rgba(17,103,228,.55),

        rgba(30,146,255,.45)

    );

}

/* LUCES */

.light{

position:absolute;

border-radius:50%;

filter:blur(120px);

animation:pulse 8s infinite;

}

.light1{

width:500px;
height:500px;

left:-120px;
top:-120px;

background:#c7ffb0;

opacity:.20;

}

.light2{

width:650px;
height:650px;

right:-250px;
top:-120px;

background:#3f88ff;

opacity:.25;

animation-delay:2s;

}

.light3{

width:450px;
height:450px;

right:-100px;
bottom:-100px;

background:#64f0ff;

opacity:.25;

animation-delay:4s;

}

/* CONTENIDO */

.hero-content{

position:relative;

z-index:20;

text-align:center;

width:100%;

padding:30px;

}

.hero-logo{

    width:200px;

    opacity:0;

    animation:

    fadeLogo 1.2s forwards,

    floating 6s ease-in-out infinite;

    animation-delay:0s,1.5s;
    filter: brightness(0) invert(1);

}

.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:

    radial-gradient(circle,

    rgba(255,255,255,.06),

    transparent 70%);

    animation:

    pulse 12s infinite;

}

.slogan{

    margin-top:15px;

}

.slogan h2{
    display:block;
    margin: 0px 50px;
    font-family: 'Copperplate';

}

.slogan h2 span{

    position:relative;

    display:block;

    color:#0D5ED9;

    font-size:28px;

    font-weight:700;

    letter-spacing:2px;

    padding:8px 14px;

    z-index:2;

}

.slogan h2 span::before{

    content:"";

    position:absolute;

    left:-8px;

    bottom:8px;

    width:0%;

    height:75%;

    background:linear-gradient(
        90deg,
        rgba(95,185,255,0),
        rgba(255,255,255,.75),
        rgba(255,255,255,1),
        rgba(255,255,255,.75),
        rgba(95,185,255,0)
    );

    z-index:-1;

    animation:highlightText 1.2s ease forwards 1.4s;

}

.highlight{

    position:absolute;

    left:0;

    bottom:8px;

    width:0%;

    height:22px;

    background:

    linear-gradient(
        90deg,
        rgba(255,255,255,.08),
        rgba(255,255,255,.30),
        rgba(255,255,255,.08)
    );

    border-radius:12px;

    animation:

    fondoTexto

    1.3s

    forwards

    1.6s;

}



.hero p{

margin:auto;

margin-top:45px;

width:780px;

font-size:22px;

font-weight:300;

line-height:1.8;

color:white;

opacity:0;

animation:
fadeUp
1s
forwards
2s;

}

.buttons{

    display:flex;

    justify-content:center;

    gap:25px;

    margin-top:55px;

}

.btn{

    position:relative;

    overflow:hidden;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:12px;

    padding:10px 20px;

    border-radius:60px;

    font-size:15px;

    font-weight:600;

    letter-spacing:.5px;

    transition:.45s;

    backdrop-filter:blur(12px);

}

.btn i{

    font-size:18px;

    transition:.45s;

}

.btn span{

    position:relative;

    z-index:2;

}

.btn{

    opacity:0;

    animation:

    fadeUp .9s forwards;

}

.btn:nth-child(1){

    animation-delay:2.3s;

}

.btn:nth-child(2){

    animation-delay:2.6s;

}

.btn-primary{

    color:#1565da;

    background:white;

    box-shadow:0 12px 35px rgba(0,0,0,.20);

}

.btn-primary:hover{

    transform:

    translateY(-8px)

    scale(1.03);

    box-shadow:

    0 25px 45px rgba(15,80,180,.35);

}


.btn-primary::before{

    content:"";

    position:absolute;

    left:-120%;

    top:0;

    width:70%;

    height:100%;

    background:

    linear-gradient(

        120deg,

        transparent,

        rgba(255,255,255,.75),

        transparent

    );

    transition:.8s;

}

.btn-primary:hover::before{

    left:150%;

}

.btn-primary:hover i{

    transform:

    rotate(-12deg)

    scale(1.25);

}

.btn-secondary{

    color:white;

    border:2px solid rgba(255,255,255,.7);

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

}

.btn-secondary:hover{

    background:white;

    color:#1565da;

    transform:

    translateY(-8px);

    border-color:white;

    box-shadow:

    0 20px 40px rgba(0,0,0,.20);

}

.btn-secondary:hover i{

    transform:

    translateX(6px);

}




/*==================================
ANIMACIONES
===================================*/

@keyframes highlightText{

    0%{

        width:0%;
        opacity:0;

    }

    40%{

        opacity:1;

    }

    100%{

        width:100%;
        opacity:1;

    }

}

@keyframes menu{

    from{
        opacity:0;
        transform:translateY(-25px) rotateX(-90deg);
    }

    to{
        opacity:1;
        transform:translateY(0) rotateX(0);
    }

}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@keyframes fadeLogo{

    from{
        opacity:0;
        transform:scale(.75);
        filter:blur(12px);
    }

    to{
        opacity:1;
        transform:scale(1);
        filter:blur(0);
    }

}

@keyframes pulse{

    0%{
        transform:scale(1);
        opacity:.20;
    }

    50%{
        transform:scale(1.18);
        opacity:.38;
    }

    100%{
        transform:scale(1);
        opacity:.20;
    }

}

@keyframes linea{

    from{
        width:0%;
    }

    to{
        width:100%;
    }

}

@keyframes fondoTexto{

    from{

        width:0%;
        opacity:0;

    }

    to{

        width:100%;
        opacity:.18;

    }

}

@keyframes floating{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }

}


@media(max-width:1100px){

.hero-content{

width:90%;

}

.hero p{

width:100%;

font-size:19px;

}

.hero-logo{

width:330px;

}

nav{

display:none;

}

}

/* ==========================================
   MÓVIL
========================================== */

@media (max-width:768px){

    header{
        height:70px;
        border-radius:0 0 18px 18px;
    }

    .container{
        width:92%;
    }

    nav{
        display:none;
    }

    .btn-header{
        display:none;
    }

    .hero-content{
        width:100%;
        padding:20px;
    }

    .hero-logo{
        width:150px;
    }

    .slogan{
        margin-top:18px;
        padding: 14px 20px;
    }

    .slogan h2{
        margin:10px;
    }

    .slogan h2 span{

        font-size:15px;
        line-height:1.4;
        letter-spacing:1px;
        padding:0;

    }

    .hero p{

        width:100%;
        margin-top:30px;

        font-size:17px;
        line-height:1.8;

    }

    .buttons{

        flex-direction:column;
        gap:18px;

        width:100%;
        margin-top:35px;

    }

    .btn{

        width:100%;
        max-width:340px;

        justify-content:center;

        font-size:15px;

    }

}

/* ==========================================
   TELÉFONOS PEQUEÑOS
========================================== */

@media (max-width:480px){

    .hero-logo{
        width:145px;
    }

    .slogan h2 span{

        font-size:18px;
        letter-spacing:.5px;

    }

    .hero p{

        font-size:15px;
        line-height:1.7;

    }

    .btn{

        font-size:14px;
        padding:14px 18px;

    }

}